<%include ../partials/header%>
<div class="ui container">
    <div class="ui three column stackable grid">
        <div class="one wide column"></div>
        <div class="fourteen wide column">
            <div class="content">
                <div class="ui rounded image post-image">
                    <img class="ui fluid rounded image"
                            data-src="<%=post.image%>"
                            alt=""
                            srcset=""
                            id='edit-post-img'>
                </div>
                <form action="/posts/<%=post._id%>?_method=PUT" method="post" enctype="multipart/form-data">
                    <div class="ui form">
                        <div class="ui one item menu">
                            <a class="item" id="image-edit-btn">
                                <i class="image icon"></i>
                                Insert/ change image
                            </a>
                        </div>
                        <div class="field input" id='upload-field' hidden>
                            <div class="ui left icon input">
                                <input type="file" accept="image/*" name="imageUpload">
                                <i class="image icon"></i>
                            </div>
                        </div>
                        <div class="field input" id='url-field' hidden>
                            <input type="text" name="imageURL" placeholder="URL">
                        </div>
                        <div class="field input">
                            <input type="text" name="postTitle" value="<%=post.title%>">
                        </div>
                        <div class="field input">
                            <textarea name="postBody"><%=post.body%></textarea>
                        </div>
                        <div class="field">
                            <button class="ui violet big basic button">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- MODALS -->

                <div class="ui modal" id="image-post-modal">
                    <div class="header">Image post</div>
                    <div class="ui placeholder segment">
                        <div class="ui two column very relaxed stackable grid">
                            <div class="column">
                                <div class="ui big button" id="load-image-btn">
                                    Upload image
                                </div>
                            </div>
                            <div class="middle aligned column">
                                <div class="ui big button" id="url-image-btn">
                                    <i class="signup icon"></i>
                                    Insert from URL
                                </div>
                            </div>
                        </div>
                        <div class="ui vertical divider">
                            Or
                        </div>
                    </div>
            </div>
        </div>
        <div class="one wide column"></div>
    </div>
</div>
    <script src="/javascripts/edit_scripts.js"></script>
<%include ../partials/footer%>